body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:961px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:180px;
  width:771px;
  height:709px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:709px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:80px;
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:3px;
  top:75px;
  width:957px;
  height:79px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:89px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:118px;
  top:90px;
  width:130px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:272px;
  top:90px;
  width:120px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:417px;
  top:90px;
  width:120px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:561px;
  top:90px;
  width:120px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:705px;
  top:90px;
  width:120px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:3px;
  top:177px;
  width:165px;
  height:430px;
  opacity:0.5;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:430px;
}
#u17 {
  position:absolute;
  left:2px;
  top:207px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:5px;
  top:183px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u19_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:5px;
  top:224px;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:5px;
  top:81px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u28_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u28_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:5px;
  top:76px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:5px;
  top:264px;
}
#u41_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:5px;
  top:75px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:5px;
  top:109px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u41_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u41_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:5px;
  top:109px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:5px;
  top:75px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:5px;
  top:304px;
}
#u58_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:5px;
  top:159px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:5px;
  top:81px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:6px;
  top:120px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u58_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u58_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u70 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:5px;
  top:155px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:5px;
  top:77px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:5px;
  top:116px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:6px;
  top:342px;
  visibility:hidden;
}
#u79_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u79_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u81 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u79_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u79_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:5px;
  top:383px;
  visibility:hidden;
}
#u88_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u88_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:5px;
  top:75px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u88_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u88_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:5px;
  top:75px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:5px;
  top:346px;
}
#u101_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u101_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:5px;
  top:75px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:5px;
  top:110px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:5px;
  top:146px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u101_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u101_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u112 {
  position:absolute;
  left:3px;
  top:3px;
  width:157px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:34px;
}
#u113 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:5px;
  top:41px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:5px;
  top:75px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:5px;
  top:147px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:5px;
  top:111px;
  width:155px;
  height:30px;
  color:#1E1E1E;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:604px;
  top:5px;
  width:225px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:429px;
  top:43px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0000;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
