body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:24px;
  width:755px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:738px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:4px;
  width:755px;
  height:2px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2 {
  position:absolute;
  left:0px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:91px;
  width:53px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:105px;
  top:88px;
  width:172px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:321px;
  top:91px;
  width:66px;
  height:16px;
  color:#1E1E1E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:400px;
  top:87px;
  width:136px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:552px;
  top:87px;
  width:83px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:419px;
  width:700px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:346px;
  width:700px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:275px;
  width:700px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:203px;
  width:700px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:123px;
  width:700px;
  height:46px;
  color:#0000CC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:46px;
}
#u19 {
  position:absolute;
  left:2px;
  top:15px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:138px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:153px;
  top:138px;
  width:5px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  visibility:hidden;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:153px;
  top:138px;
  width:5px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  visibility:hidden;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:21px;
  top:179px;
  width:123px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:541px;
  top:178px;
  width:40px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:227px;
  top:179px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:21px;
  top:211px;
  width:123px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:541px;
  top:210px;
  width:40px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:227px;
  top:211px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:362px;
  top:211px;
  width:40px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  visibility:hidden;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:21px;
  top:249px;
  width:123px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:541px;
  top:248px;
  width:40px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:203px;
  top:249px;
  width:169px;
  height:15px;
  font-size:12px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:21px;
  top:283px;
  width:123px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:541px;
  top:282px;
  width:40px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:203px;
  top:283px;
  width:169px;
  height:15px;
  font-size:12px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:21px;
  top:319px;
  width:123px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:541px;
  top:318px;
  width:40px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:203px;
  top:319px;
  width:169px;
  height:15px;
  font-size:12px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:21px;
  top:354px;
  width:123px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:541px;
  top:353px;
  width:40px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:203px;
  top:354px;
  width:169px;
  height:15px;
  font-size:12px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:623px;
  top:138px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:624px;
  top:179px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:624px;
  top:211px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:624px;
  top:249px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:624px;
  top:283px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:624px;
  top:319px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:624px;
  top:354px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:21px;
  top:393px;
  width:123px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:541px;
  top:392px;
  width:40px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:223px;
  top:393px;
  width:130px;
  height:15px;
  font-size:12px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:21px;
  top:427px;
  width:123px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:541px;
  top:426px;
  width:40px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:223px;
  top:427px;
  width:130px;
  height:15px;
  font-size:12px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:21px;
  top:463px;
  width:123px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:541px;
  top:462px;
  width:40px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:227px;
  top:463px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:624px;
  top:393px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:624px;
  top:427px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:624px;
  top:463px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:168px;
  top:505px;
  width:460px;
  height:32px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:32px;
}
#u103 {
  position:absolute;
  left:2px;
  top:8px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:208px;
  top:508px;
  width:27px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u105 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:591px;
  top:513px;
  width:36px;
  height:16px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:26px;
}
#u107 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:482px;
  width:700px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u109 {
  position:absolute;
  left:255px;
  top:138px;
  width:66px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:533px;
  top:137px;
  width:53px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:128px;
  top:863px;
  width:4px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  visibility:hidden;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:40px;
  top:54px;
  width:53px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:107px;
  top:54px;
  width:70px;
  height:16px;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:187px;
  top:54px;
  width:70px;
  height:16px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:280px;
  top:54px;
  width:70px;
  height:16px;
}
#u122 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  position:absolute;
  left:422px;
  top:138px;
  width:53px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:428px;
  top:178px;
  width:47px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:428px;
  top:210px;
  width:47px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:428px;
  top:248px;
  width:47px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:428px;
  top:282px;
  width:47px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:428px;
  top:318px;
  width:47px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:428px;
  top:353px;
  width:47px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:428px;
  top:392px;
  width:47px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:428px;
  top:426px;
  width:47px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:428px;
  top:462px;
  width:47px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
