body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:733px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:280px;
  width:730px;
  height:32px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:32px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1px;
  top:215px;
  width:730px;
  height:32px;
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1px;
  top:137px;
  width:730px;
  height:46px;
  color:#0000CC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:18px;
  top:153px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:76px;
  top:153px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:377px;
  top:153px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:228px;
  top:153px;
  width:40px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:477px;
  top:145px;
  width:53px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:29px;
  top:191px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:177px;
  top:191px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:345px;
  top:191px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:475px;
  top:191px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:29px;
  top:225px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:177px;
  top:225px;
  width:157px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:345px;
  top:225px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:652px;
  top:257px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:475px;
  top:225px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:29px;
  top:257px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:177px;
  top:257px;
  width:133px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:345px;
  top:257px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:475px;
  top:257px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:29px;
  top:291px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:177px;
  top:291px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:345px;
  top:291px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:472px;
  top:291px;
  width:63px;
  height:15px;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:29px;
  top:322px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:177px;
  top:322px;
  width:121px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:345px;
  top:322px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:475px;
  top:322px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:650px;
  top:153px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:52px;
  top:191px;
  width:114px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:52px;
  top:225px;
  width:115px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:52px;
  top:257px;
  width:114px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:52px;
  top:291px;
  width:114px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:52px;
  top:322px;
  width:115px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:652px;
  top:225px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:652px;
  top:191px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:652px;
  top:291px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:652px;
  top:322px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1px;
  top:344px;
  width:730px;
  height:32px;
  font-size:12px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:32px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:29px;
  top:355px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:177px;
  top:355px;
  width:121px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:345px;
  top:355px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:475px;
  top:355px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:52px;
  top:355px;
  width:115px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:652px;
  top:355px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:0px;
  top:24px;
  width:725px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:708px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:4px;
  width:725px;
  height:2px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u94 {
  position:absolute;
  left:0px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:434px;
  width:733px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:729px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:29px;
  top:384px;
  width:8px;
  height:15px;
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:177px;
  top:384px;
  width:121px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:345px;
  top:384px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:475px;
  top:384px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:52px;
  top:384px;
  width:114px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:652px;
  top:384px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:115px;
  top:63px;
  width:153px;
  height:22px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u110 {
  position:absolute;
  left:41px;
  top:66px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:620px;
  top:62px;
  width:69px;
  height:25px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u113 {
  position:absolute;
  left:0px;
  top:120px;
  width:725px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:708px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:725px;
  height:1px;
}
#u114 {
  position:absolute;
  left:388px;
  top:66px;
  width:100px;
  height:16px;
}
#u115 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u114_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u116 {
  position:absolute;
  left:499px;
  top:66px;
  width:100px;
  height:16px;
}
#u117 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u116_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118 {
  position:absolute;
  left:309px;
  top:66px;
  width:66px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:573px;
  top:153px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:574px;
  top:190px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:574px;
  top:224px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:574px;
  top:256px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:574px;
  top:290px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:574px;
  top:321px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:574px;
  top:354px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:574px;
  top:383px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
